.DisplaySection-wrapper{
  padding-right: 4vw;
  padding-left: 4vw;
}

.DisplaySection-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-width: 1px;
  border-color: #4d7e80;
  margin-right: 20px;
  background-color: #dfebec;
}

.text-sound {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .DisplaySection-container{
    width: 100%;
    margin-right: 0;
  }
}
