.saveFavButton {
    background-color: #eff5f5;
    cursor: pointer;
    font-size: 20px;
    font-family : 'arial';
    margin-bottom: 8px;
    max-width: 20vw;
    margin: 2px;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

.saveFavButton:focus {
  outline-color: #5F9EA0;
}

.saveFavButton:hover {
  background-color: #8fbbbc;
}

.saveFavButton:active {
  background-color: #5F9EA0;
}

@media screen and (max-width: 1000px) {
  .saveFavButton{
    max-width: 20vw;
    max-height: 10vh;
    font-size: 2vw;
  }
}
