.selectorSection {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-top: 70px;
}

@media screen and (max-width: 1200px) {
  .selectorSection {
    flex-direction: row;
    padding-right: 4vw;
    padding-left: 4vw;
  }
}
