.tabList{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  min-width: 50vw;
  height: 50px;
  margin-bottom: 2px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
